<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="admin-home.html" class="active">Home</a></li>
                <li><a href="#">Payroll</a></li>
                <li><a href="#" id="logout-btn">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Welcome, Admin Name</h1>
        <section class="Dashboard">
            <h2>Dashboard</h2>
            <p>Name: [Admin Name]</p>
            <p>Role: Admin</p>
            <a href="../templates/admin-employees.html" class="button">Approval</a>
        </section>
    </main>

    <footer>
        <!-- add footer -->
    </footer>

    <script src="../js/scripts.js"></script>
</body>
</html>
